/* natural box model */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}



/* Structure */
body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
}

#navigation {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

#nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
}

#nav-logo {
    width: 300px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

nav .pages:hover {
    transition: 1s;
    background-color: lightgray;
    color: black;
}

#index-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EBEBEB;
    text-align: center;
    min-height: 570px;
    /* margin: 0 auto; */
}

#home-intro {
    padding-top: 10%;
}

.custom-h1 {
    font-size: 64px;
    color: crimson;
    font-family: 'Pacifico', cursive;
    /* padding-bottom: 40px; */
}

.custom-h2 {
    font-size: 48px;
}


#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EBEBEB;
    /* width: 80%; */
    margin: 0 auto;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
}

.icon {
    padding: 1%;
    color: crimson;
}

figure {
    position: relative;
    z-index: 0;
}

figure img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

figure:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

/* figure img {
    width: 95%;
} */

figcaption {
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: center;
    width: 80%;
    font-size: 170%;
    font-family: 'Kalam', cursive;
    padding-top: 1%;
}

.note-title {
    font-size: 130%;
    display: inline-block;
    padding-bottom: 8%;
}

.note-date {
    padding-bottom: 8%;
    display: inline-block;
}

.notepad {
    margin: 0 auto;
    width: 80%;
    line-height: 1.5em;
    
}

.note:hover {
    cursor: pointer;
}

#notepad-container {
    margin: 0 auto;
    /* min-height: 1500px; */
    width: 100%;
}

.notepad h3 {
    margin-bottom: 0%;
    margin-top: 5%;
}

.notepad .date {
    margin-bottom: 0%;
}

.notepad .signature {
    font-family: 'Kalam', cursive;
}

span #content {
    text-align: justify;
}


/* ABOUT PAGE */

.left-div {
    width: 50%;
    text-align: center;
    /* background-color: #EBEBEB; */
    padding: 15px;
}

.right-div {
    width: 50%;
    text-align: center;
    /* background-color: #EBEBEB; */
    padding: 15px;
}

.para {
    text-align: left;
    line-height: 1.50em;
}



.kendall-pic {
    width: 100%;
    border: 2px solid black;
    
}


@media (max-width: 1000px) {

    .left-div {
        width: 100%;
        text-align: center;
        /* background-color: #EBEBEB; */
        padding: 15px;
    }

    .right-div {
        width: 100%;
        text-align: center;
        /* background-color: #EBEBEB; */
        padding: 15px;
    }

    figure img {
        width: 95%;
    }
    
    figcaption {
        z-index: 1;
        position: absolute;
        top: 15%;
        left: 10%;
        text-align: center;
        width: 80%;
        font-size: 170%;
        font-family: 'Kalam', cursive;
        padding-top: 1%;
    }
}


@media (max-width: 400px) {
    figure img {
        width: 95%;
    }
    
    figcaption {
        z-index: 1;
        position: absolute;
        top: 15%;
        left: 10%;
        text-align: center;
        width: 80%;
        font-size: 110%;
        font-family: 'Kalam', cursive;
        padding-top: 1%;
    }
}